.hero {
    padding: 20px;
    margin-top: 5vh;
    max-width: 75rem;
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.hero__img {
    animation: morph 8s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 25rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 25rem;
    object-fit: contain;
    background-color: var(--blue2);
} 