.hero {
    padding: 20px;
    margin-top: 5vh;
    max-width: 75rem;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #f2f2f2;
    gap: 30px;
}

.hero__img {
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 50% 40% 50% 90%/60% 50% 70% 40%; 
    height: 25rem;
    width: 25rem;
    object-fit: contain;
    background-color: var(--blue2);
} 

.hero__content {
    max-width: 35rem;
}

.hero__content h1 {
    color: #2d2e32;
    font-weight: 900;
    font-size: 40px;
}

.hero__content p {
    color: #555;
    padding: 20px 0;
    font-size: 20px;
    word-spacing: 1px;
}

.hero__icon {
    color: #2d2e32;
}

.hero__icon:hover {
    color: var(--blue2);
}

.hero__icon2 {
    color: #2d2e32;
    margin-left: 10px;
}

.hero__icon2:hover {
    color: var(--blue2);
}

@media(max-width: 850px) {
    .hero {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .hero__content {
        text-align: center;
        margin-top: 20px;
    }
    .hero__content h1 {
        text-align: center;
    }
}

.stack {
    margin-top: 5vh;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto
}

.stack h2 {
    color: #2d2e32;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
}

.stack__container {
    display: flex;
}

.stack span h2 {
    padding: 0 10px;
}

.stack__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
}

.stack__lang {
    width: 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    object-fit: contain;
}

.stack__lang2 {
    width: 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
