.projects {
    margin-top: 10vh;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.projects h2 {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

.projects__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vh;
    padding: 20px;
    gap: 30px;
}

.project {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .19);
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    height: 35vh;
}

.project__img {
    width: 30rem;
    border-radius: 20px;
}

.project__content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__content h4 {
    font-size: 25px;
}

.project__content p {
    font-size: 18px;
    padding: 20px;
}

.lang {
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, .19);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    align-items: center;
}

.proj__stack {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.proj__links {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.proj__links a {
    font-size: 20px;
    align-items: center;
}

.proj__icon {
    margin-left: 3px;
}